{% extends base_template_path %}
{% block content %}
<a class="res btn btn-secondary" href="disclaimer">إخلاء مسئولية🤚</a><br/>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a class="miss btn btn-secondary" href="uploadImageLost">
                <img src="/assets/img/lost.svg"/>
                <br/>فقد طفل
            </a>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="find btn btn-secondary" href="uploadImageFound">
                <img src="/assets/img/foundhome.svg"/>
                <br/>
                وجد طفل
            </a>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="follow btn btn-secondary" href="#">
                متابعة حالة
                <img src="/assets/img/arrow-pink.svg"/>
            </a>
        </div>
    </div>
</div>
{% endblock %}