{% extends base_template_path %}
{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <img class="logo" src="/assets/img/android-chrome-192x192.png" alt="sa3ed logo">
    <h2 class="mt-1 mb-3">{{_('ساعد')}}</h2>
    <a class="res btn" href="disclaimer">{{_('إخلاء مسئولية')}} 🤚</a>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a class="miss btn btn-secondary" href="lost_person_create">
                <img src="/assets/img/lost.svg"/>
                <br/>{{_('فقد شخص')}}
            </a>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="miss btn btn-secondary" href="lost_person_search">
                <img src="/assets/img/lost.svg"/>
                <br/>{{_('أشخاص مفقودون')}}
            </a>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="find btn btn-secondary" href="found_person_create">
                <img src="/assets/img/foundhome.svg"/>
                <br/>
                {{_('وجد شخص')}}
            </a>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="follow btn" href="search">
                {{_('تحقق من حالة شخص')}}
                <img src="/assets/img/foundhome.svg"/>
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col text-center">
            <a class="follow btn" href="#">
                {{_('متابعة حالة')}}
                <img src="/assets/img/arrow-pink.svg"/>
            </a>
        </div>
    </div>
</div>
{% endblock %}
