form {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 15px;
}
label {
    font-size: 18px;
    font-weight: 400;
    color: #053B4F;
}
input {
    text-align: right;
    width: 336px;
    height: 36px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1.8px solid #053B4F;
    margin-bottom: 44px;
}
input::placeholder {
    color: #053B4F;
    opacity: 20%;
    font-size: 18px;
}
textarea {
    padding: 20px;
    border: none;
    border-radius: 11px;
    width: 336px;
    height: 150px;
    resize: none; 
    text-align: right;
}
.clickbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clickbtn div {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 56px;
    padding: 12px 40px;
    border-radius: 24px;
    background-color: #FF476E;
    color: white;
    cursor: pointer;
    gap: 5px;
    margin-top: 44px;
}

.iti__flag {
    background-color: transparent;
}

.iti__input {
    width: calc(100% - 40px); 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}
.iti__country-list {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #ffffffa1 !important;
}
.iti__hide {
    display: none !important;
}
.swal2-title , .swal2-confirm ,.swal2-styled {
    font-family: 'Changa';
}
