{% extends base_template_path %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.js"></script>

<div id="lost_person_form_3">
    <div class="row justify-content-between align-items-end mb-5">
        <button class="btn btn-light" @click="back_to_prev"><img src="/static/img/backArrow.svg" alt="back"></button>
        <img src="/static/img/favicon-32x32.png" alt="found person" width="48px" />
    </div>
    <form class="row align-items-start" @submit.prevent="btn_event">
        <div>
            <h3 class="page-title">
                <img src="/static/img/miss.svg" alt="lost person" />
                (٤/۳) فقد شخص
            </h3>
            <p class="desc">قم بادخال بياناتك للتواصل</p>
        </div>
        <div class="w-100 mb-6">
            <label class="w-100 text-right" for="name">اسمك</label>
            <input class="w-100" type="text" id="name" placeholder="ادخل اسمك" v-model="user_name" required />
            <div class="invalid-feedback" v-if="errors.user_name">يرجى إدخال اسمك</div>
        </div>

        <div class="w-100 mb-6">
            <label class="w-100 text-right" for="email">البريد الالكتروني</label>
            <input class="w-100" type="email" id="email" placeholder="example@test.com" v-model="email" required />
            <div class="invalid-feedback" v-if="errors.email">يرجى إدخال البريد الالكتروني</div>
        </div>

        <div class="w-100 mb-6">
            <label class="w-100 text-right" for="phone">رقم الهاتف</label>
            <input class="w-100" type="tel" id="phone" placeholder="1xxxxxxxx" v-model="phone_number" ref="phone" required />
            <div class="invalid-feedback" v-if="errors.phone_number">يرجى إدخال رقم الهاتف</div>
        </div>

        <div class="w-100 d-flex justify-content-center mt-6">
            <button type="submit" class="submit-btn">
                <img src="/static/img/arrow-white.svg" alt="submit" />
                <span>التالي</span>
            </button>
        </div>
    </form>
</div>
{% endblock %}