{% extends base_template_path %}
{% block content %}
<label class="mb-5">{{_('إخلاء مسئولية')}} 🤚</label>
<p class="disclaimer-content mb-5">
  {{_('إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد
  الفقرات كما تريد، النص لن يبدو مقسما هذا النص هو مثال لنص يمكن أن يستبدل
  لنصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. ولا يحوي
  أخطاء لغوية، مولد النص العربى مفيد لمصممي .المواقع على وجه الخصوص كما يمكن
  استخدامه لتصاميم الجرافيكس')}}
</p>
<a class="btn close-disclaimer" href="home">إغلاق</a>
{% endblock %}
