{% extends base_template_path %}
{% block content %}
<label class="mb-5">{{_('إخلاء مسئولية')}} 🤚</label>
<p class="disclaimer-content mb-5">
  {{_('مشروع ساعد غير مسؤول عن أي إجراءات أو نتائج تتعلق بأي تطبيق اخر في حالات فقدان أو العثور على طفل. يتحمل
  المستخدمون المسؤولية الكاملة عن أي استخدام للتطبيق، ولا يضمن المشروع دقة أو فاعلية الإجراءات المتخذة من خلاله.')}}
</p>
<!-- change button from a anchor to div -->
<div class="submit-btn close-disclaimer">{{_('إغلاق')}}</div>
<script>
  document.querySelector('.close-disclaimer').onclick = function () {
    window.history.back();
  }
</script>
{% endblock %}