{% extends base_template_path %}
{% block content %}
<label class="mb-5">{{ _('إخلاء مسئولية') }} 🤚</label>

<p class="disclaimer-intro mb-3">
  {{ _('تطبيق "ساعد" هو منصة تهدف إلى تسهيل عملية الإبلاغ عن الأطفال المفقودين أو الذين تم العثور عليهم، وذلك لمساعدة الجهات المختصة وأفراد المجتمع في تسريع الوصول إلى ذوي الطفل.') }}
</p>
<p class="disclaimer-note mb-3">
  {{ _('برجاء ملاحظة ما يلي:') }}
</p>

<ul class="disclaimer-content mb-5 list-disc ps-5">
  <li class="mb-4">{{ _('لا يتحمل تطبيق "ساعد" أو القائمون عليه أي مسؤولية قانونية أو جنائية ناتجة عن المعلومات المُدخلة من قبل المستخدمين.') }}</li>
  <li class="mb-4">{{ _('تقع مسؤولية دقة وصحة المعلومات المقدمة بالكامل على عاتق الشخص المُبلِّغ.') }}</li>
  <li class="mb-4">{{ _('التطبيق لا يُعد بديلاً عن الجهات الأمنية أو المختصة، وإنما وسيلة مساندة للمساعدة في نشر المعلومات بشكل أسرع.') }}</li>
  <li class="mb-4">{{ _('يُنصح بالإبلاغ مباشرةً لدى الجهات الرسمية المختصة بالتوازي مع استخدام التطبيق') }}</li>
</ul>

<div class="submit-btn close-disclaimer">{{ _('إغلاق') }}</div>
<script>
  document.querySelector('.close-disclaimer').onclick = function () {
    window.history.back();
  }
</script>
{% endblock %}