label {
  width: fit-content;
  height: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #053b4f;
}

p.disclaimer-content {
  width: 80%;
  height: fit-content;
  left: 0px;
  top: 58px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: right;
  color: #053b4f;
  opacity: 0.8;
  margin: 0px 0px;
}

.close-disclaimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  width: 141px;
  height: 56px;
  background: #ff476e;
  box-shadow: 1px -1px 0px rgba(249, 242, 242, 0.25),
    0px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  color: #ffffff;
  overflow: auto;
}

a.btn.close-disclaimer:hover {
  background: #ff477e;
  color: #ffffff;
}
