{% extends base_template_path %}
{% block content %}
<div id="lost_person_form">
    <div class="row justify-content-between align-items-end mb-5">
        <button class="btn btn-light" @click="back_to_prev"><img src="/static/img/backArrow.svg" alt="back"></button>
        <img src="/static/img/favicon-32x32.png" alt="found person" width="48px" />
    </div>
    <form class="row align-items-start" @submit.prevent="btn_event">
        <div>
            <h3 class="page-title">
                <img src="/static/img/miss.svg" alt="lost person" />
                (٤/۱) فقد شخص
            </h3>
            <p class="desc">{{_('قم بادخال بيانات الطفل')}}</p>
        </div>

        <div class="w-100 mb-6">
            <label class="w-100 text-right" for="child_name">{{_('اسم الطفل')}}</label>
            <input class="w-100" id="child_name" @mouseleave="change_line()" type="text" ref="name"
                placeholder="{{_('ادخل اسم الطفل')}}" v-model="lost_person_name" required>
            <div class="invalid-feedback" v-if="errors.lost_person_name">
                {{_('يرجى إدخال اسم الطفل')}}
            </div>
        </div>

        <div class="w-100 mb-6">
            <label class="w-100 text-right" for="child_birthdate">{{_('تاريخ ميلاد الطفل')}}</label>
            <input class="w-100" id="child_birthdate" class="testing" @mouseleave="change_line()" type="date" ref="date"
                placeholder="{{_('تاريخ ميلاد الطفل')}}" v-model="birthdate" required>
            <div class="invalid-feedback" v-if="errors.birthdate">
                {{_('يرجى إدخال تاريخ ميلاد الطفل')}}
            </div>
        </div>

        <div class="w-100 mb-6">
            <label class="w-100 text-right" for="lost_city">{{_('مدينه الفقدان')}}</label>
            <input class="w-100" id="lost_city" @mouseleave="change_line()" type="text" ref="city"
                placeholder="{{_('ادخل  مدينه الفقدان للطفل')}}" v-model="city" required>
            <div class="invalid-feedback" v-if="errors.city">
                {{_('يرجى إدخال مدينه الفقدان')}}
            </div>
        </div>

        <div class="w-100 mb-6">
            <label class="w-100 text-right" for="lost_address_line">{{_('العنوان')}}</label>
            <input class="w-100" id="lost_address_line" @mouseleave="change_line()" type="text" ref="address"
                placeholder="{{_('ادخل العنوان الذي فقد فيه الطفل')}}" v-model="lost_address_line" required>
            <div class="invalid-feedback" v-if="errors.lost_address_line">
                {{_('يرجى ادخال العنوان')}}
            </div>
        </div>

        <div class="w-100 mb-6">
            <label class="w-100 text-right" for="lost_date">{{_('تاريخ الفقدان')}}</label>
            <input class="w-100" id="lost_date" @mouseleave="change_line()" type="date" ref="lost_date"
                placeholder="{{_('تاريخ الفقدان')}}" v-model="lost_date" required>
            <div class="invalid-feedback" v-if="errors.lost_date">
                {{_('يرجى إدخال تاريخ الفقدان')}}
            </div>
        </div>

        <div class="w-100 mb-6">
            <label class="w-100 text-right" for="lost_gender">{{_('جنس الطفل المفقود')}}</label>
            <select class="w-100" id="lost_gender" v-model="gender" required>
                <option value="" disabled>{{_('اختر الجنس')}}</option>
                <option value="Male" class="test">{{_('ذكر')}}</option>
                <option value="Female">{{_('انثي')}}</option>
            </select>
            <div class="invalid-feedback" v-if="errors.gender">
                {{_('يرجى إدخال جنس الطفل المفقود')}}
            </div>
        </div>

        <div class="w-100 mb-6">
            <label class="w-100 text-right" for="country_select">{{_('الدوله')}}</label>
            <select class="w-100" id="country_select" required v-model="country">
                <option value="" disabled>{{_('اختر الدوله')}}</option>
                <option v-for="country in countries" :value="country.english_name">[[ country.arabic_name ]]</option>
            </select>
            <div class="invalid-feedback" v-if="errors.country">
                {{_('يرجى ادخال الدوله')}}
            </div>
        </div>

        <textarea class="w-100 mb-6" id="notes" placeholder="{{_('ادخل  مدينه اللتي فقد فيها الطفل')}}"
            v-model="notes"></textarea>

        <textarea class="w-100 mb-6" id="address_notes" placeholder="{{_('ادخل بعض البيانات للمكان الذي فقد فيه')}}" v-model="address_notes"></textarea>
        <div class="w-100 d-flex justify-content-center">
            <button type="submit" class="submit-btn" ref="btn">
                <img src="/static/img/arrow-white.svg" alt="found person" />
                <span>{{_('التالي')}}</span>
            </button>
        </div>
    </form>
</div>
{% endblock %}