<!-- <div> -->
	<div class="row align-items-center justify-content-center" style="margin-bottom: 20px; gap: 15px;">
		<div class="col text-center">
			<img src="{{doc.image}}" alt="" width="150px" height="150px" style="border-radius: 30px;">
		</div>

	<div class="col text-left" style="margin-bottom: 15px;">	
		<div class="row text-left" >{{doc.gender}}</div>
		<div class="row badge badge-danger text-left" style="margin-bottom: 7px;">{{doc.status}}</div>
		<div class="row text-left" style="margin-bottom: 7px;">
			<a href="{{ doc.route }}" class="row badge badge-dark">{{ doc.name1 }}</a>			
		</div>
	</div>
</div>
<!-- </div> -->
<!-- this is a sample default list template -->
