{% extends base_template_path %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md">
            <h3>إبحث عن حالات مفقودة</h3>
            <br />
            <div>
                <input id="searchbar" type="search" class="form-control" placeholder="ادخل قيمة للبحث"></input>
                <br />
                <button class="btn btn-primary" type="button" onclick="UserSearch()">ابحث</button>
            </div>
            <hr />
            <div>
                <p id="err"></p>
                <div id="buttondiv">
                </div>
                <div id="resultdiv">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}