{% extends base_template_path %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md">
            <img class="col-.75" src="/assets/img/found.svg" />
            <h4>من فضلك أدخل رقم الحالة للتحقق من حالتها</h4>

            <div class="row mt-5">
                <div class="col-md">
                    <div>
                        <label for="caseID">رقم الحالة:</label>
                        <input type="text" id="caseID" class="form-control" placeholder="أدخل رقم الحالة">
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-primary" id="SearchCaseButton" onclick="followUpCase()">تحقق من الحالة</button>
                    </div>

                    <div class="progress my-4" id="ProgressBar" style="width:20%;margin:auto" hidden>
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    <div id="statusMessage" class="mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
