{% extends "templates/web.html" %}

{% block content %}
<div id="search_form">
    <div class="row justify-content-between align-items-end mb-5">
        <button class="btn btn-light" @click="back_to_prev">
            <img src="/static/img/backArrow.svg" alt="back">
        </button>
        <img src="/static/img/favicon-32x32.png" alt="found person" width="48px" />
    </div>

    <form v-if="!show_results" class="row align-items-start" @submit.prevent="search">
        <div>
            <h3 class="page-title">
                <img src="/static/img/miss.svg" alt="lost person" />
                متابعة حالة فقدان
            </h3>
            <p class="desc">قم بادخال رقم الحالة</p>
        </div>

        <div class="w-100 mb-6">
            <label class="w-100 text-right" for="case_id">اسم الطفل</label>
            <input class="w-100" id="case_id" type="text" ref="name" placeholder="ادخل رقم الحالة" v-model="case_id"
                required>
            <div class="invalid-feedback" v-if="error">
                يرجى إدخال رقم الحالة
            </div>
        </div>

        <div class="w-100 d-flex justify-content-center">
            <button type="submit" class="submit-btn" ref="btn">
                <span>متابعة</span>
                <img src="/static/img/arrow-white.svg" alt="search" />
            </button>
        </div>
    </form>
    <div v-else>
        <div v-if="res_list.length == 0" class="not_found d-flex flex-column align-items-center">
            <img src="/static/img/not-found.png" alt="not found" width="210px" height="170px">
            <h3 class="page-title text-center">لا يوجد حالة مسجلة</h3>
            <p class="desc text-center">لا يوجد حالة مسجلة برقم الحالة المدخل, قم بادخال رقم حالة صحيح</p>
            <button class="submit-btn mt-2" @click="reset_search">
                <span>حاول مرة اخرى</span>
                <img src="/static/img/arrow-white.svg" alt="search" />
            </button>
        </div>

        <div v-if="res_list.length > 0" class="found">
            <button class="btn btn-light" @click="reset_search">
                <img src="/static/img/backArrow.svg" alt="back">
            </button>
            <div v-for="res in res_list" :key="res.case_id" class="case_details">
                <img src="/static/img/matched-icon.svg" alt="matched">
                <p>اسم الطفل: [[ res.name ]]</p>
                <p>تاريخ الفقدان: [[ res.missing_date ]]</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}