{% extends base_template_path %}
{% block content %}
<div class="w-100" id="lost_person_create_form">
    <div class="row justify-content-center">
        <div class="row justify-content-between align-items-center mb-5 w-100">
            <button type="button" class="btn btn-light" onclick="back_to_prev()"><img src="/static/img/backArrow.svg" alt="back"></button>
            <img src="/static/img/favicon-32x32.png" alt="lost person" width="48px" />
        </div>
        <div class="d-flex flex-column justify-content-center">
            <div class="text-right">
                <h3 class="page-title">
                    <img src="/static/img/miss.svg" alt="lost person" />
                    (٤/٤) فقد شخص
                </h3>
                <p class="desc">{{ _("قم برفع صورة واضحة لاستخدامها في المطابقة") }}</p>
            </div>
            <div>
                <img class="img-upload" src="/static/img/upload.svg" onclick="open_file_browser()" id="image_preview" alt="image preview" />
            </div>
            <form method="post" id="form_img_upload" enctype="multipart/form-data">
                <div>
                    <input type="file" id="upload_image" style="display:none" accept=".png, .jpg, .jpeg">
                </div>
                <div class="w-100 d-flex flex-column align-items-center">
                    <button type="button" class="submit-btn mt-5" id="submit_image" disabled>{{ _("إرسال") }}</button>
                    <button type="button" class="back-btn mt-5" id="back_to_home" disabled>{{ _("العوده للرئيسية") }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}