.clickbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clickbtn div {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 56px;
    padding: 12px 40px;
    border-radius: 24px;
    background-color: #FF476E;
    color: white;
    cursor: pointer;
    gap: 5px;
    margin-top: 44px;
}

.iti__flag {
    background-color: transparent;
}

.iti__input {
    width: calc(100% - 40px); 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}
.iti__country-list {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #ffffffa1 !important;
}
.iti__hide {
    display: none !important;
}
