{% extends base_template_path %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- #TODO: sweat library -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../lost_person_create_detail/index.js"></script>    
<div id="app" class="container">
    <div class="row justify-content-start">
        <img class="col-.75" src="/assets/img/favicon-32x32.png" alt="lost person" width="48px" />
    </div>
    <div class="row justify-content-end">
        <div>
            <p>
                (٤/۲)فقد شخص
            <img class="col-.75" src="/assets/img/miss.svg" alt="lost person" />
            </p>
            <p style="color: #053B4F; 
                    opacity:0.8; 
                    font-size:20px;
                    font-weight: 400;">قم بادخال بيانات عنوان البيت</p>
        </div>
    </div>
    <form class="row justify-content-left">
        <!-- city -->
        <label for="">  مدينه السكن </label>
        <input  @mouseleave="changeline()" type="text" ref="loc" placeholder="ادخل  مدينه اللتي فقد فيها الطفل" v-model="cityperloca" required>
        <!-- address line -->
        <label for="">  الخط الارضي</label>
        <input  @mouseleave="changeline()" type="text" ref="loc" placeholder="الخط الارضي لشخص في المكان المفقود" v-model="home_address_line" required>
        <!-- Country -->
        <label for="" style="margin-bottom: 33px;">الدوله</label>
        <select id="country_select" required v-model="country" class="form-control">
            <option value="" disabled>اختر الدوله</option>
        </select>
        <textarea name="" id="" placeholder="ادخل بعض البيانات للمكان الذي يعيش فيه" v-model ='notesloc'></textarea>
    </form>
        <!-- btn to send data -->
    <div class="d-flex btn row" @click="btnevent" >
        <div ref="btn"> 
            <img class="col-.75" src="/assets/img/arrow-white.svg" alt="lost person" />
                ارسال
        </div>
    </div>
</div>
{% endblock %}
