.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn div {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 56px;
    padding: 12px 40px;
    border-radius: 24px;
    background-color: #FF476E;
    color: white;
    cursor: pointer;
    gap: 5px;
}
.gender-options {
    gap: 7px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row-reverse;
    margin-bottom: 33px;
}
.form-control{
    background-color: #f2efe6;
    text-align: center;
    margin-bottom: 33px;
    color: #053B4F; 
    border: 1px solid #053B4F; 
    padding: 10px; 
    border-radius: 4px; 
    appearance: none; 
    -moz-appearance: none; 
    -webkit-appearance: none; 
    width: 100%; 
    
}
.swal2-title , .swal2-confirm ,.swal2-styled {
    font-family: 'Changa';
}
