{% extends base_template_path %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- #TODO: sweat library -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<div id="lost_person_form_2">
    <div class="row justify-content-between align-items-center mb-5">
        <img src="/static/img/favicon-32x32.png" alt="lost person" width="48px" />
        <button class="btn btn-light" @click="back_to_prev"><img src="/static/img/backArrow.svg" alt="back"></button>
    </div>
    <form class="row justify-content-left" @submit.prevent="btnevent">
        <div class="text-end">
            <p class="mb-0">
                (٤/۲)فقد شخص
            <img src="/static/img/miss.svg" alt="lost person" />
            </p>
            <p style="color: #053B4F;
                    opacity:0.8; 
                    font-size:20px;
                    font-weight: 400;">قم بادخال بيانات الطفل</p>
        </div>
        <!-- city -->
        <label for="cityperloca">  مدينه السكن </label>
        <input id="cityperloca" @mouseleave="changeline()" type="text" ref="loc" placeholder="ادخل  مدينه اللتي فقد فيها الطفل" v-model="cityperloca" required>
        <div class="invalid-feedback" v-if="errors.cityperloca">
            يرجى إدخال مدينه السكن
        </div>
        <!-- address line -->
        <label for="home_address_line">  الخط الارضي</label>
        <input id="home_address_line" @mouseleave="changeline()" type="text" ref="loc" placeholder="الخط الارضي لشخص في المكان المفقود" v-model="home_address_line" required>
        <div class="invalid-feedback" v-if="errors.home_address_line">
            يرجى إدخال الخط الارضي
        </div>
        <!-- Country -->
        <label for="country_select" style="margin-bottom: 33px;">الدوله</label>
        <select id="country_select" required v-model="selected_country" class="form-control">
            <option value="اختر الدوله" disabled>اختر الدوله</option>
            <option v-for="country in countries" :value="country.english_name">[[ country.arabic_name ]]</option>
        </select>
        <div class="invalid-feedback" v-if="errors.country">
            يرجى إدخال الدوله
        </div>
        <textarea name="" id="notesloc" placeholder="ادخل بعض البيانات للمكان الذي يعيش فيه" v-model ='notesloc'></textarea>
        <div class="w-100 d-flex justify-content-center mt-6">
            <button type="submit" class="submit-btn" ref="btn"> 
                <img src="/static/img/arrow-white.svg" alt="found person" />
                <span>التالي</span>
            </button>
        </div>
    </form>
</div>
{% endblock %}
