{% extends base_template_path %}
{% block content %} 
<!-- Sweat alert -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Sweat alert -->
 <!-- phone validation -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app" class="container">
        <div class="row justify-content-start">
            <img class="col-.75" src="/static/img/favicon-32x32.png" alt="found person" width="48px" />
        </div>
        <div class="row justify-content-end">
            <div class="">
                <p>
                    (٣/٢)وجد شخص
                    <img class="col-.75" src="/static/img/found.svg" alt="found person"  style="width: 33px;margin-bottom:10px"/>
                </p>
                <p style="color: #053B4F; 
                    opacity:0.8; 
                    font-size:20px;
                    font-weight: 400;">قم بادخال بيانات التواصل
                </p>
            </div>
        </div>
        <form class="row justify-content-left" @submit.prevent="btnevent"> 
            <label for="user_name" >اسمك</label>
            <input id="user_name" @mouseleave="changeline()" type="text" ref="name" placeholder="ادخل اسمك" v-model="user_name" required>
            <div class="invalid-feedback" v-if="errors.name">
                يرجى إدخال اسمك
            </div>
            <label for="email">البريد الالكتروني</label>
            <input id="email" @mouseleave="changeline()" type="text" ref="date" placeholder="example@test.com" v-model="email" required>
            <div class="invalid-feedback" v-if="errors.email">
                يرجى إدخال البريد الالكتروني
            </div>
            <label for="phone_number">رقم الهاتف</label>
            <input id="phone_number" @mouseleave="changeline()" type="tel" ref="phone" placeholder="**********" v-model="phone_number" required>
            <div class="invalid-feedback" style="margin-top: 1rem;" v-if="errors.phone">
                يرجى إدخال رقم الهاتف
            </div>
        </form>
        <div class="d-flex justify-content-center row" style="margin-top: 45px ;">
            <a class="res btn" href="disclaimer">{{_('إخلاء مسئولية')}} 🤚</a>
        </div>
        <div class="d-flex clickbtn row" style="margin-top: 2rem;">
            <button type="submit" class="submit-btn" ref="btn" @click="btnevent"> 
                <img src="/static/img/arrow-white.svg" alt="found person" />
                <span>ارسال</span>
            </button>
        </div>
    </div>
{% endblock %}
